.particle {
    position: absolute;
    border-radius: 50%;
  }
  
  @-webkit-keyframes particle-animation-1 {
    100% {
      transform: translate3d(58vw, 14vh, 38px);
    }
  }
  
  @keyframes particle-animation-1 {
    100% {
      transform: translate3d(58vw, 14vh, 38px);
    }
  }
  .particle:nth-child(1) {
    -webkit-animation: particle-animation-1 60s infinite;
            animation: particle-animation-1 60s infinite;
    opacity: 0.24;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
    transform: translate3d(63vw, 31vh, 11px);
    background: #d99726;
  }
  
  @-webkit-keyframes particle-animation-2 {
    100% {
      transform: translate3d(54vw, 22vh, 85px);
    }
  }
  
  @keyframes particle-animation-2 {
    100% {
      transform: translate3d(54vw, 22vh, 85px);
    }
  }
  .particle:nth-child(2) {
    -webkit-animation: particle-animation-2 60s infinite;
            animation: particle-animation-2 60s infinite;
    opacity: 0.23;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
    transform: translate3d(40vw, 64vh, 85px);
    background: #d99126;
  }
  
  @-webkit-keyframes particle-animation-3 {
    100% {
      transform: translate3d(37vw, 10vh, 31px);
    }
  }
  
  @keyframes particle-animation-3 {
    100% {
      transform: translate3d(37vw, 10vh, 31px);
    }
  }
  .particle:nth-child(3) {
    -webkit-animation: particle-animation-3 60s infinite;
            animation: particle-animation-3 60s infinite;
    opacity: 0.85;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s;
    transform: translate3d(81vw, 62vh, 18px);
    background: #d92635;
  }
  
  @-webkit-keyframes particle-animation-4 {
    100% {
      transform: translate3d(71vw, 37vh, 7px);
    }
  }
  
  @keyframes particle-animation-4 {
    100% {
      transform: translate3d(71vw, 37vh, 7px);
    }
  }
  .particle:nth-child(4) {
    -webkit-animation: particle-animation-4 60s infinite;
            animation: particle-animation-4 60s infinite;
    opacity: 0.21;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
    transform: translate3d(75vw, 2vh, 74px);
    background: #2662d9;
  }
  
  @-webkit-keyframes particle-animation-5 {
    100% {
      transform: translate3d(22vw, 68vh, 87px);
    }
  }
  
  @keyframes particle-animation-5 {
    100% {
      transform: translate3d(22vw, 68vh, 87px);
    }
  }
  .particle:nth-child(5) {
    -webkit-animation: particle-animation-5 60s infinite;
            animation: particle-animation-5 60s infinite;
    opacity: 0.48;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
    transform: translate3d(21vw, 57vh, 52px);
    background: #2638d9;
  }
  
  @-webkit-keyframes particle-animation-6 {
    100% {
      transform: translate3d(50vw, 48vh, 87px);
    }
  }
  
  @keyframes particle-animation-6 {
    100% {
      transform: translate3d(50vw, 48vh, 87px);
    }
  }
  .particle:nth-child(6) {
    -webkit-animation: particle-animation-6 60s infinite;
            animation: particle-animation-6 60s infinite;
    opacity: 0.65;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -1.2s;
            animation-delay: -1.2s;
    transform: translate3d(43vw, 5vh, 21px);
    background: #262cd9;
  }
  
  @-webkit-keyframes particle-animation-7 {
    100% {
      transform: translate3d(60vw, 20vh, 3px);
    }
  }
  
  @keyframes particle-animation-7 {
    100% {
      transform: translate3d(60vw, 20vh, 3px);
    }
  }
  .particle:nth-child(7) {
    -webkit-animation: particle-animation-7 60s infinite;
            animation: particle-animation-7 60s infinite;
    opacity: 0.61;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -1.4s;
            animation-delay: -1.4s;
    transform: translate3d(3vw, 32vh, 9px);
    background: #2694d9;
  }
  
  @-webkit-keyframes particle-animation-8 {
    100% {
      transform: translate3d(3vw, 84vh, 97px);
    }
  }
  
  @keyframes particle-animation-8 {
    100% {
      transform: translate3d(3vw, 84vh, 97px);
    }
  }
  .particle:nth-child(8) {
    -webkit-animation: particle-animation-8 60s infinite;
            animation: particle-animation-8 60s infinite;
    opacity: 0.16;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -1.6s;
            animation-delay: -1.6s;
    transform: translate3d(37vw, 83vh, 11px);
    background: #26d9d3;
  }
  
  @-webkit-keyframes particle-animation-9 {
    100% {
      transform: translate3d(63vw, 82vh, 79px);
    }
  }
  
  @keyframes particle-animation-9 {
    100% {
      transform: translate3d(63vw, 82vh, 79px);
    }
  }
  .particle:nth-child(9) {
    -webkit-animation: particle-animation-9 60s infinite;
            animation: particle-animation-9 60s infinite;
    opacity: 0.31;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -1.8s;
            animation-delay: -1.8s;
    transform: translate3d(39vw, 50vh, 69px);
    background: #d96e26;
  }
  
  @-webkit-keyframes particle-animation-10 {
    100% {
      transform: translate3d(24vw, 2vh, 89px);
    }
  }
  
  @keyframes particle-animation-10 {
    100% {
      transform: translate3d(24vw, 2vh, 89px);
    }
  }
  .particle:nth-child(10) {
    -webkit-animation: particle-animation-10 60s infinite;
            animation: particle-animation-10 60s infinite;
    opacity: 0.73;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
    transform: translate3d(78vw, 25vh, 73px);
    background: #26d941;
  }
  
  @-webkit-keyframes particle-animation-11 {
    100% {
      transform: translate3d(21vw, 51vh, 53px);
    }
  }
  
  @keyframes particle-animation-11 {
    100% {
      transform: translate3d(21vw, 51vh, 53px);
    }
  }
  .particle:nth-child(11) {
    -webkit-animation: particle-animation-11 60s infinite;
            animation: particle-animation-11 60s infinite;
    opacity: 0.9;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -2.2s;
            animation-delay: -2.2s;
    transform: translate3d(1vw, 67vh, 69px);
    background: #6bd926;
  }
  
  @-webkit-keyframes particle-animation-12 {
    100% {
      transform: translate3d(28vw, 44vh, 47px);
    }
  }
  
  @keyframes particle-animation-12 {
    100% {
      transform: translate3d(28vw, 44vh, 47px);
    }
  }
  .particle:nth-child(12) {
    -webkit-animation: particle-animation-12 60s infinite;
            animation: particle-animation-12 60s infinite;
    opacity: 0.15;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -2.4s;
            animation-delay: -2.4s;
    transform: translate3d(2vw, 45vh, 17px);
    background: #2656d9;
  }
  
  @-webkit-keyframes particle-animation-13 {
    100% {
      transform: translate3d(65vw, 66vh, 53px);
    }
  }
  
  @keyframes particle-animation-13 {
    100% {
      transform: translate3d(65vw, 66vh, 53px);
    }
  }
  .particle:nth-child(13) {
    -webkit-animation: particle-animation-13 60s infinite;
            animation: particle-animation-13 60s infinite;
    opacity: 0.81;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -2.6s;
            animation-delay: -2.6s;
    transform: translate3d(26vw, 51vh, 17px);
    background: #7a26d9;
  }
  
  @-webkit-keyframes particle-animation-14 {
    100% {
      transform: translate3d(66vw, 75vh, 48px);
    }
  }
  
  @keyframes particle-animation-14 {
    100% {
      transform: translate3d(66vw, 75vh, 48px);
    }
  }
  .particle:nth-child(14) {
    -webkit-animation: particle-animation-14 60s infinite;
            animation: particle-animation-14 60s infinite;
    opacity: 0.04;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -2.8s;
            animation-delay: -2.8s;
    transform: translate3d(89vw, 75vh, 87px);
    background: #8826d9;
  }
  
  @-webkit-keyframes particle-animation-15 {
    100% {
      transform: translate3d(68vw, 52vh, 81px);
    }
  }
  
  @keyframes particle-animation-15 {
    100% {
      transform: translate3d(68vw, 52vh, 81px);
    }
  }
  .particle:nth-child(15) {
    -webkit-animation: particle-animation-15 60s infinite;
            animation: particle-animation-15 60s infinite;
    opacity: 0.75;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
    transform: translate3d(51vw, 31vh, 57px);
    background: #263bd9;
  }
  
  @-webkit-keyframes particle-animation-16 {
    100% {
      transform: translate3d(86vw, 47vh, 82px);
    }
  }
  
  @keyframes particle-animation-16 {
    100% {
      transform: translate3d(86vw, 47vh, 82px);
    }
  }
  .particle:nth-child(16) {
    -webkit-animation: particle-animation-16 60s infinite;
            animation: particle-animation-16 60s infinite;
    opacity: 0.81;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -3.2s;
            animation-delay: -3.2s;
    transform: translate3d(74vw, 12vh, 92px);
    background: #65d926;
  }
  
  @-webkit-keyframes particle-animation-17 {
    100% {
      transform: translate3d(16vw, 27vh, 69px);
    }
  }
  
  @keyframes particle-animation-17 {
    100% {
      transform: translate3d(16vw, 27vh, 69px);
    }
  }
  .particle:nth-child(17) {
    -webkit-animation: particle-animation-17 60s infinite;
            animation: particle-animation-17 60s infinite;
    opacity: 0.68;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -3.4s;
            animation-delay: -3.4s;
    transform: translate3d(86vw, 12vh, 2px);
    background: #d9d626;
  }
  
  @-webkit-keyframes particle-animation-18 {
    100% {
      transform: translate3d(39vw, 34vh, 35px);
    }
  }
  
  @keyframes particle-animation-18 {
    100% {
      transform: translate3d(39vw, 34vh, 35px);
    }
  }
  .particle:nth-child(18) {
    -webkit-animation: particle-animation-18 60s infinite;
            animation: particle-animation-18 60s infinite;
    opacity: 0.6;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -3.6s;
            animation-delay: -3.6s;
    transform: translate3d(70vw, 47vh, 78px);
    background: #26d991;
  }
  
  @-webkit-keyframes particle-animation-19 {
    100% {
      transform: translate3d(83vw, 3vh, 11px);
    }
  }
  
  @keyframes particle-animation-19 {
    100% {
      transform: translate3d(83vw, 3vh, 11px);
    }
  }
  .particle:nth-child(19) {
    -webkit-animation: particle-animation-19 60s infinite;
            animation: particle-animation-19 60s infinite;
    opacity: 0.1;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -3.8s;
            animation-delay: -3.8s;
    transform: translate3d(41vw, 58vh, 8px);
    background: #4ad926;
  }
  
  @-webkit-keyframes particle-animation-20 {
    100% {
      transform: translate3d(63vw, 56vh, 73px);
    }
  }
  
  @keyframes particle-animation-20 {
    100% {
      transform: translate3d(63vw, 56vh, 73px);
    }
  }
  .particle:nth-child(20) {
    -webkit-animation: particle-animation-20 60s infinite;
            animation: particle-animation-20 60s infinite;
    opacity: 0.61;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    transform: translate3d(8vw, 65vh, 4px);
    background: #2653d9;
  }
  
  @-webkit-keyframes particle-animation-21 {
    100% {
      transform: translate3d(47vw, 70vh, 67px);
    }
  }
  
  @keyframes particle-animation-21 {
    100% {
      transform: translate3d(47vw, 70vh, 67px);
    }
  }
  .particle:nth-child(21) {
    -webkit-animation: particle-animation-21 60s infinite;
            animation: particle-animation-21 60s infinite;
    opacity: 0.77;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -4.2s;
            animation-delay: -4.2s;
    transform: translate3d(64vw, 68vh, 62px);
    background: #263bd9;
  }
  
  @-webkit-keyframes particle-animation-22 {
    100% {
      transform: translate3d(88vw, 44vh, 6px);
    }
  }
  
  @keyframes particle-animation-22 {
    100% {
      transform: translate3d(88vw, 44vh, 6px);
    }
  }
  .particle:nth-child(22) {
    -webkit-animation: particle-animation-22 60s infinite;
            animation: particle-animation-22 60s infinite;
    opacity: 0.69;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -4.4s;
            animation-delay: -4.4s;
    transform: translate3d(25vw, 6vh, 76px);
    background: #d92635;
  }
  
  @-webkit-keyframes particle-animation-23 {
    100% {
      transform: translate3d(11vw, 38vh, 27px);
    }
  }
  
  @keyframes particle-animation-23 {
    100% {
      transform: translate3d(11vw, 38vh, 27px);
    }
  }
  .particle:nth-child(23) {
    -webkit-animation: particle-animation-23 60s infinite;
            animation: particle-animation-23 60s infinite;
    opacity: 0.21;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -4.6s;
            animation-delay: -4.6s;
    transform: translate3d(61vw, 1vh, 61px);
    background: #c726d9;
  }
  
  @-webkit-keyframes particle-animation-24 {
    100% {
      transform: translate3d(11vw, 25vh, 79px);
    }
  }
  
  @keyframes particle-animation-24 {
    100% {
      transform: translate3d(11vw, 25vh, 79px);
    }
  }
  .particle:nth-child(24) {
    -webkit-animation: particle-animation-24 60s infinite;
            animation: particle-animation-24 60s infinite;
    opacity: 0.65;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -4.8s;
            animation-delay: -4.8s;
    transform: translate3d(39vw, 64vh, 83px);
    background: #267ad9;
  }
  
  @-webkit-keyframes particle-animation-25 {
    100% {
      transform: translate3d(17vw, 50vh, 95px);
    }
  }
  
  @keyframes particle-animation-25 {
    100% {
      transform: translate3d(17vw, 50vh, 95px);
    }
  }
  .particle:nth-child(25) {
    -webkit-animation: particle-animation-25 60s infinite;
            animation: particle-animation-25 60s infinite;
    opacity: 0.89;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -5s;
            animation-delay: -5s;
    transform: translate3d(66vw, 8vh, 19px);
    background: #91d926;
  }
  
  @-webkit-keyframes particle-animation-26 {
    100% {
      transform: translate3d(18vw, 17vh, 2px);
    }
  }
  
  @keyframes particle-animation-26 {
    100% {
      transform: translate3d(18vw, 17vh, 2px);
    }
  }
  .particle:nth-child(26) {
    -webkit-animation: particle-animation-26 60s infinite;
            animation: particle-animation-26 60s infinite;
    opacity: 0.9;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -5.2s;
            animation-delay: -5.2s;
    transform: translate3d(14vw, 33vh, 21px);
    background: #d926a0;
  }
  
  @-webkit-keyframes particle-animation-27 {
    100% {
      transform: translate3d(79vw, 81vh, 47px);
    }
  }
  
  @keyframes particle-animation-27 {
    100% {
      transform: translate3d(79vw, 81vh, 47px);
    }
  }
  .particle:nth-child(27) {
    -webkit-animation: particle-animation-27 60s infinite;
            animation: particle-animation-27 60s infinite;
    opacity: 0.12;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -5.4s;
            animation-delay: -5.4s;
    transform: translate3d(71vw, 52vh, 9px);
    background: #d9d326;
  }
  
  @-webkit-keyframes particle-animation-28 {
    100% {
      transform: translate3d(9vw, 50vh, 15px);
    }
  }
  
  @keyframes particle-animation-28 {
    100% {
      transform: translate3d(9vw, 50vh, 15px);
    }
  }
  .particle:nth-child(28) {
    -webkit-animation: particle-animation-28 60s infinite;
            animation: particle-animation-28 60s infinite;
    opacity: 0.84;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -5.6s;
            animation-delay: -5.6s;
    transform: translate3d(34vw, 89vh, 37px);
    background: #d92680;
  }
  
  @-webkit-keyframes particle-animation-29 {
    100% {
      transform: translate3d(9vw, 16vh, 38px);
    }
  }
  
  @keyframes particle-animation-29 {
    100% {
      transform: translate3d(9vw, 16vh, 38px);
    }
  }
  .particle:nth-child(29) {
    -webkit-animation: particle-animation-29 60s infinite;
            animation: particle-animation-29 60s infinite;
    opacity: 0.48;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -5.8s;
            animation-delay: -5.8s;
    transform: translate3d(65vw, 36vh, 16px);
    background: #26d98e;
  }
  
  @-webkit-keyframes particle-animation-30 {
    100% {
      transform: translate3d(60vw, 8vh, 21px);
    }
  }
  
  @keyframes particle-animation-30 {
    100% {
      transform: translate3d(60vw, 8vh, 21px);
    }
  }
  .particle:nth-child(30) {
    -webkit-animation: particle-animation-30 60s infinite;
            animation: particle-animation-30 60s infinite;
    opacity: 0.82;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -6s;
            animation-delay: -6s;
    transform: translate3d(47vw, 48vh, 79px);
    background: #2665d9;
  }

